/* Stile generale */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  }
  
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0.5em;
    color: #2c3e50;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    color: #3498db;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 0.3em;
  }
  
  h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  p, ul {
    max-width: 800px;
    margin: 0.5em auto;
    padding: 0 1em;
    font-size: 1.1em;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    background-color: #e8f4f8;
    margin: 0.5em 0;
    padding: 0.8em;
    border-radius: 8px;
    color: #2c3e50;
  }
  
  strong {
    color: #e74c3c;
  }
  
  p {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Tabelle e formule */
  table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f9f9f9;
  }
  
  pre {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    margin: 0.5em auto;
    max-width: 800px;
    overflow-x: auto;
    font-size: 1em;
  }
  
  .math {
    text-align: center;
    margin: 1em auto;
    font-size: 1.5em;
    color: #16a085;
  }
  
  /* Navigazione e interazione */
  button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  a {
    color: #3498db;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5em;
    }
  
    h2 {
      font-size: 1.8em;
    }
  
    h3 {
      font-size: 1.3em;
    }
  
    p, ul {
      padding: 0 1em;
      font-size: 1em;
    }
  
    pre {
      font-size: 0.9em;
    }
  }
  